{{#each block.data.details as |attribute index|}}
    {{#if (gt index 0)}}
        <hr>
    {{/if}}
    <div>
        <span class="p-title">{{fa-icon "box" fixedWidth=true}} Attribute</span>
    </div>
    <div>
        <span class="p-key">Type: </span>
        <span class="p-value">{{attribute.type}}</span>
    </div>
    {{!--
      When parsing URLs Polarity does not include query parameters so we wildcard url lookups in MISP to match
      on URLs which include query params.  To ensure the user knows the full url with query params we display the
      full value here.
    --}}
    {{#if (eq attribute.type "url")}}
        <div>
            <span class="p-key">Value: </span>
            <span class="p-value">{{attribute.value}}</span>
        </div>
    {{/if}}
    <div>
        <span class="p-key">Category: </span>
        <span class="p-value">{{attribute.category}}</span>
    </div>
    <div>
        <span class="p-key">Timestamp: </span>
        <span class="p-value">
            {{moment-format (unix attribute.timestamp) 'MM/DD/YYYY' timeZone=timezone}}
        </span>
    </div>
    {{#if attribute.comment}}
        <div>
            <span class="p-key">Comment: </span>
            <span class="p-value">{{attribute.comment}}</span>
        </div>
    {{/if}}

    <div>
        <span class="p-title">{{fa-icon "calendar" fixedWidth=true}} Event
             <span class="view-in-misp">
        <a href="{{block.userOptions.uri}}/events/view/{{attribute.Event.id}}">
           (View in MISP {{fa-icon "external-link"}})</a></span>
        </span>
    </div>
    <div>
        <span class="p-key">Info: </span>
        <span class="p-value">{{attribute.Event.info}}</span>
    </div>
    <div>
        <span class="p-key">Date: </span>
        <span class="p-value">{{moment-format (unix attribute.Event.date) 'MM/DD/YYYY' timeZone=timeZone}}</span>
    </div>
    {{#if attribute.Event.details.Orgc}}
    <div>
        <span class="p-key">Org: </span>
        <span class="p-value"><a href="{{block.userOptions.uri}}/organisations/view/{{attribute.Event.details.Orgc.id}}">{{attribute.Event.details.Orgc.name}}{{fa-icon "external-link" class="external-link-icon"}}</a></span>
    </div>
    {{/if}}
    {{#if attribute.Event.details.Org}}
    <div>
        <span class="p-key">Owner Org: </span>
        <span class="p-value"><a href="{{block.userOptions.uri}}/organisations/view/{{attribute.Event.details.Org.id}}">{{attribute.Event.details.Org.name}}{{fa-icon "external-link" class="external-link-icon"}}</a></span>
    </div>
    {{/if}}
    <div>
        <span class="p-key">Attribute Count: </span>
        <span class="p-value">{{attribute.Event.details.attribute_count}}</span>
    </div>
    <div>
        <span class="p-key">Threat Level: </span>
        <span class="p-value">{{attribute.Event.details.threat_level}}</span>
    </div>
    <div>
        <span class="p-key">Analysis: </span>
        <span class="p-value">{{attribute.Event.details.analysis_level}}</span>
    </div>
    <div>
        <span class="p-key">Published: </span>
        <span class="p-value">{{#if attribute.Event.details.published}}<span class="is-published">Yes</span> ({{moment-format (unix attribute.Event.details.publish_timestamp) 'MM/DD/YYYY' timeZone=timezone}}){{else}}<span class="is-not-published">No</span>{{/if}}</span>
    </div>
    <div>
        <span class="p-key">Distribution: </span>
        <span class="p-value {{if (eq attribute.Event.details.distribution "0") "text-red"}}">{{attribute.Event.details.distribution_level}}</span>
    </div>
    <div class="tag-container">
        {{#each attribute.Tag as |tag tagIndex|}}
          <span class="tag d-inline-flex align-items-center">
                <span class="text-container {{unless block.userOptions.enableRemovingTags "rounded-borders"}}" style="background-color:{{tag.colour}}; color: {{tag.font_color}}">
                    {{tag.name}}
                </span>{{#if block.userOptions.enableRemovingTags}}<span class="remove-icon-container" {{action "removeTag" attribute.id tag attribute.Event.id index tagIndex}}>
                    {{fa-icon "times" class="tag-close-icon" fixedWidth=true}}
            </span>{{/if}}
            </span>

        {{/each}}
        {{#if block.userOptions.enableAddingTags}}
            {{#unless attribute.showAddTagModal}}
                <button class="open-modal-btn" {{action "openAddTagModal" index}}>
                    {{#if loadingTags}}
                        {{fa-icon "sync" class="open-modal-btn-icon" spin=true fixedWidth=true}}
                    {{else}}
                        {{fa-icon "plus" class="open-modal-btn-icon" fixedWidth=true}}
                    {{/if}}
                </button>
            {{/unless}}
        {{/if}}
        {{#if attribute.showAddTagModal}}
            <div class="show-tag-modal">
                <div>
                    {{#power-select-multiple
                            disabled=loadingTags
                            selected=tag
                            options=filteredTags
                            searchField="name"
                            searchEnabled=true
                            placeholder="Type to search all tags"
                            search=(action "onSearch")
                            onChange=(action (mut tag))
                    as |tag|}}
                        <span class="p-tag" style="word-break: break-word; margin: 10px 0; display:inline-block; line-height: 1.2em; font-size: 12px; box-shadow: 3px 3px 3px #888888; padding: 4px; border-radius: 4px; background-color:{{tag.colour}}; color: {{tag.font_color}}">{{tag.name}}</span>
                    {{/power-select-multiple}}
                </div>
                <div class="modal-buttons">
                    <button class="misp-btn" {{action "closeAddTagModal" index}}>Cancel</button>
                    <button class="misp-btn" {{action "addTags" attribute.Event.id index}}>Add Tags</button>
                </div>
            </div>
        {{/if}}
    </div>
{{/each}}


